header{
  nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 40px 0px;
    z-index: 999;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-item{
        margin: 0px 20px;
        .nav-link{
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 0.03em;
          color: #FFFFFF;
        }
      }
    }
  }
}

main{
  #hero{
    padding-top: 100px;
    padding-bottom: 60px;
    background: url(../images/hero-bg.png) no-repeat center top;
    background-size: cover;
    position: relative;
    height: 100%;
    // margin-top: -10px;
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;left: 0;
      right: 0;bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(42.36deg, rgba(22, 30, 47, 0.5) 30.86%, rgba(22, 30, 47, 0.04) 80.06%);
    }
    .hero-slider-wrapper{
      position: relative;
      z-index: 10;
      margin-top: 50px;
      margin-left: 10%;
      margin-right: 10%;
      overflow: hidden;
      .slider-item{
        display: none;
        position: relative;
        transition: 2s;
        animation: slide-left 2s;
        @keyframes slide-left {
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        }
        &.show{
          display: block;
        }
        h5{
          color: white;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 15.1111px;
          line-height: 16px;
          letter-spacing: -0.01em;
          margin-bottom: 32px;
        }
        h2{
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 38px;
          line-height: 45px;
          letter-spacing: -0.03em;
          color: #FFFFFF;
          width: 40%;
          margin-bottom: 32px;
        }
        p{
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: -0.01em;
          color: #FFFFFF;
          width: 40%;
          margin-bottom: 36px;
        }
        a{
          i{
            width: 24px;
            height: 24px;
            background: #DAAA00;
            line-height: 24px;
            border-radius: 50%;
            margin-right: 18px;
          }
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.095em;
          text-transform: uppercase;
          color: #FFFFFF;
          background: none;
          border: none;
          &:hover{
            i{
              margin-right: 10px;
            }
          }
        }
      }
    }
    #sliderControl{
      position: relative;
      z-index: 5;
      margin-top: 40px;
      margin-left: 10%;
      margin-right: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      .slider-nav{
        background: none;
        border: none;
        cursor: pointer;
        h5{
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.095em;
          text-transform: uppercase;
          color: #D9D9D9;
        }
        width: 100%;
        height: 50px;
        text-align: left;
        padding-bottom: 30px;
        border-bottom: 1px solid #D9D9D9;
        &.active{
          h5{
            color: white;
          }
          padding-bottom: 10px;
          border-bottom: 1px solid #ffffff;
        }
      }
    }
    .sliderBtns{
      position: absolute;
      right: 10%;
      top: 15%;
      width: 80px;height: 40px;
      border-radius: 30px;
      background: #eee;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
      button{
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        i{
          font-size: 20px;
          color: #616161;
        }
        &:disabled{
          i{
            color: #B4B4B4;
          }
        }
      }
    }
  }
  #services{
    margin: 60px 0px;
    .card-deck{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 0px;
      .card{
        padding: 80px 100px;
        position: relative;
        &:first-of-type{
          background: $color_2;
        }
        &:nth-of-type(2){
          background: $color_3;
        }
        &:nth-of-type(3){
          background: $color_4;
        }
        .card-header{
          display: flex;
          flex-direction: column;
          min-height: 250px;
          justify-content: flex-end;
          margin-bottom: 30px;
          .icon{
            width: 100px;
            height: 100px;
          }
          h2{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 130.2%;
            color: #000000;
            padding-bottom: 15px;
            position: relative;
            &::after{
              position: absolute;
              content: '';
              width: 130px;
              height: 0px;
              left: 0px;
              bottom: 0;
              border: 3px solid rgba(0, 0, 0, 0.5);
            }
          }
        }
        .card-body{
          padding-bottom: 50px;
          ul{
            list-style: disc;
            margin-left: 20px;
            li{
              font-family: 'Syne';
              font-style: normal;
              font-weight: 400;
              font-size: 25px;
              line-height: 40px;
              letter-spacing: -0.5px;
              color: #000000;
            }
          }
        }
        .card-footer{
          position: absolute;
          width: 100%;
          right: 30px;
          bottom: 30px;
          a{
            float: right;
            padding: 15px 40px;
            border: 3px solid #FFFFFF;
            border-radius: 25.5px;
            font-family: 'Basic Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  #transaction{
    margin: 60px 0px;
    .transaction-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        text-transform: capitalize;
        color: #353D45;
        padding-bottom: 20px;
        position: relative;
        &::after{
          position: absolute;
          content: '';
          width: 150px;
          height: 2px;
          left: 0px;
          bottom: 0;
          background: #616161;
        }
      }
      a{
        font-family: 'Interstate';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        padding: 13px 20px;
        border-radius: 30px;
        letter-spacing: 0.115em;
        text-transform: uppercase;
        color: #353D45;
        border: 2px solid #353D45;
      }
    }
    #card-slider{
      width: 100%;
      overflow: hidden;
      margin: 30px 0px;
      position: relative;
      .card-slider-inner{
        display: flex;
        width: 100%;
        transition: transform 0.5s ease;
        .card-slider-item{
          flex: 0 0 30%;
          width: 30%;
          margin-right: 1%;
        }
      }
      .navBtn{
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        button{
          background: none;
          border: none;
          padding: 0px 10px 0px 0px;
          margin-right: 5px;
          cursor: pointer;
          i{
            font-size: 24px;
            color: #C2A5F9;
          }
        }
        #scrollbar {
          height: 3px;
          background-color: #353D45;
          border-radius: 10px;
          position: relative;
          &::before{
            position: absolute;
            content: '';
            width: 3333px;
            bottom: 0;
            left: 0;
            height: 1px;
            background: #353D45;
          }
        }
      }
    }
  }
  #cta{
    margin: 60px 0px;
    background: $color_1;
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .col-lg-6{
        width: 50%;
        padding: 0px 0px;
      }
      .cta-left-side{
        padding: 15%;
        h3{
          font-style: normal;
          font-weight: 100;
          font-size: 32px;
          line-height: 120.5%;
          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }
        hr{
          width: 174px;
          height: 1px;
          background: #C2A5F9;
          margin: 30px 0px;
        }
        p{
          font-family: 'Interstate';
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 164.5%;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
        .cta-buttons{
          margin: 30px 0px;
          a{
            font-family: 'Interstate';
            font-style: normal;
            font-weight: 700;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.115em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15px 30px;
            margin-right: 20px;
            border: 2px solid #ffffff;
            border-radius: 30px;
          }
        }
      }
      .cta-right-side{
        img{
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
footer{
  .footer-top{
    background: $secondary_color;
    padding: 50px 0px;
    .footer-menu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      a{
        font-family: 'Interstate';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .subscribe{
        a{
          padding: 14px 20px;
          border: 2px solid #ffffff;
          border-radius: 30px;
        }
      }
    }
  }
  .footer-bottom{
    background: $primary_color;
    padding: 30px 0px;
    .copyright-social-links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      li,a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115.2%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #FFFFFF;
      }
      .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
      }
      .social-links{
        i{
          font-size: 18px;
          margin-right: 15px;
        }
      }
    }
  }
}